@page "/"
@using System.Net.Http;
@using System.Text.Json;
@using NewsBlazor.Models;
@using NewsBlazor.Services;


@inject HttpClient httpClient

<PageTitle>Inicio</PageTitle>

        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    @if (newsList != null || categories != null)
                    {
                        @*<div class="card mb-4">
                            <a href="#!"><img class="card-img-top" src="@newsList.First().imageUrl" alt="..." /></a>
                            <div class="card-body">
                                <div class="small text-muted">@newsList.First().publicationDate.ToShortDateString()</div>
                                <h2 class="card-title">@newsList.First().title</h2>
                            <p class="card-text">@newsList.First().description</p>
                            <a class="btn btn-danger" href="/viewnews/@newsList.First().id">Ver noticia completa →</a>
                            </div>
                        </div>*@
                        <div class="row">
                            <div class="row">
                                <div class="">
                                    @foreach (var news in newsList)
                                    {
                                <div class="card mb-4">
                                    <a href="/viewnews/@news.id"><img class="card-img-top" src="@news.imageUrl" alt="..." /></a>
                                            <div class="card-body">
                                                <div class="small text-muted">@news.publicationDate.ToShortDateString()</div>
                                                <h2 class="card-title">@news.title</h2>
                                                <p class="card-text">@news.description</p>
                                        <a class="btn btn-danger" href="/viewnews/@news.id">Ver noticia completa →</a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        if (newsList.Count == 0)
                        {
                            <h3>No hay noticias disponibles.</h3>
                        }
                    }
                    else
                    {
            
                    }
                <!-- Pagination-->
                <nav aria-label="Pagination">
                    <hr class="my-0" />
                    <ul class="pagination justify-content-center my-4">
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                        <li class="page-item "><a class="page-link" href="#!">2</a></li>
                        <li class="page-item"><a class="page-link" href="#!">3</a></li>
                        <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                        <li class="page-item"><a class="page-link" href="#!">15</a></li>
                        <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                    </ul>
                </nav>
            </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                        <input class="form-control" type="text" placeholder="Buscar una noticia ..." aria-label="Buscar una noticia ..." aria-describedby="button-search" />
                                <button class="btn btn-danger" id="button-search" type="button">Ir</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categorias</div>
                    <div class="container">
                        <div class="row">
                            @if (categories != null)
                            {
                                foreach (var cat in categories)
                                {
                                <div class="col">
                                    <a href="/secciones/@cat.name">@cat.name</a>
                                </div>  
                                }
                            }
                        </div>
                    </div>

                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Clima</div>
                            <div class="card-body">
                                @*@if(weatherPrint != null)
                                {
                                    <p>Ciudad: @weatherPrint.cityName</p>
                                    <p>Temperatura: @weatherPrint.temp°</p>
                                    <p>Humedad: @weatherPrint.humidity%</p>
                                }*@

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
@*
@if (newsList != null)
{
    <div class="row">
        @foreach (var news in newsList)
        {
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="@news.imageUrl">
                        <h5 class="card-title">@news.title</h5>
                        <p class="card-text">@news.categoryId</p>
                        <p class="card-text">@news.description</p>
                        <p class="card-text"><small class="text-muted">@news.categoryId, @news.publicationDate.ToShortDateString()</small></p>
                        <a class="btn btn-primary " href="/viewnews/@news.id">Ver noticia</a>
                    </div>
                </div>
            </div>
        }
    </div>
}

else
{
    <p>Cargando noticias...</p>
}*@





@code {
    private List<News> newsList;
    private List<Category> categories;

    protected override async Task OnInitializedAsync()
    {
        var apiUrl = "https://localhost:7081/api/News";
        var response = await httpClient.GetAsync(apiUrl);
        if (response.IsSuccessStatusCode)
        {
            var jsonString = await response.Content.ReadAsStringAsync();
            var allNews = JsonSerializer.Deserialize<List<News>>(jsonString);
            newsList = allNews.OrderByDescending(n => n.publicationDate).Take(6).ToList();
        }
        else
        {
            newsList = new List<News> { };
        }

        //get Categories for navbar.
        var apiUrlCategory = "https://localhost:7081/api/category";
        var responseCategory = await httpClient.GetAsync(apiUrlCategory);

        if (responseCategory.IsSuccessStatusCode)
        {
            var jsonStringCategories = await responseCategory.Content.ReadAsStringAsync();
            var allCategories = JsonSerializer.Deserialize<List<Category>>(jsonStringCategories);
            categories = allCategories.ToList();
        }
        else
        {
            categories = new List<Category> { };
        }

        
    }



}
